{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ],
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "rules": {
    "eqeqeq": "error",
    "block-spacing": "error",
    "arrow-spacing": "error",
    "dot-location": ["error", "property"],
    "space-unary-ops": "error",
    "rest-spread-spacing": "error",
    "no-whitespace-before-property": "error",
    "key-spacing": "error",
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/comma-dangle": "error",
    "@typescript-eslint/comma-spacing": "error",
    "@typescript-eslint/quotes": "error",
    "@typescript-eslint/object-curly-spacing": ["error", "always"],
    "@typescript-eslint/keyword-spacing": "error",
    "@typescript-eslint/no-extra-semi": "error",
    "@typescript-eslint/brace-style": "error",
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/prefer-readonly": "error",
    "@typescript-eslint/no-empty-function": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}